*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

body {

    text-align: center;
    font-family: sans-serif;
}


.title {

    margin-top: 10px;
    font-size: 60px;
    font-weight: 800;
    text-transform: uppercase;
    color: #fff;
    align-items: 10px;
   
}

p {

    margin-bottom: 40px;
    font-size: 18px;
    color: #fff;  
}

h3 {

    color: white;
}

.sau {
    height: 100vh;
    padding: 30px;
    background: black;
   
}

/**CELULAR**/
@media (min-width 767px) {}

/**TABLET**/
@media (min-width: 768px) and (max-width: 900px) {}

/**COMPUTADORA**/
@media (min-width 991px) {}